@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b28;
    --second-bg-color: #112e42;
    --text-color: #dedede --main-color: #00abf0;
}

/* html {
    font-size: 62.5;
    overflow-x: hidden;
} */

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: yellow;
}

.logo {
    font-size: 25px;
    color: #dedede;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #dedede;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transform: .3s;
}


.navbar a.active {
    color: #00abf0;
}

.Home {
    position: relative;
    /* Menambahkan properti position */
    height: 100vh;
    background: url(img/wp1.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}



/* .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 2s steps(40) forwards, slide-down 2s ease-out;
}

.home-content h1 span {
    color: #ededed;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.home-content h3 {
    font-size: 30px;
    font-weight: 600;
    color: #00abf0;
    line-height: 1, 2;

}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    color: #dedede;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    /* Fix typo in height value */
}

.btn-box a {
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    /* Change from -1 to 1 */
    overflow: hidden;
    transition: background-color 0.5s;

}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
    margin-right: 0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover {
    background-color: #081b29;
    /* Change background color on hover */
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #081b29;
    padding-bottom: 96px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn-box {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


.tentang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #081b29;
    padding-bottom: 96px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn-box {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}



.heading {
    font-size: 30px;
    margin: 20px 0 40px;
    color: #dedede;
}

.tentang-img {
    position: relative;
    width: 25rem;
    height: 26rem;
    border-radius: 50%;
    overflow: hidden;
    /* Menambahkan overflow untuk memastikan konten gambar tidak keluar dari lingkaran */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tentang-img img {
    width: 100%;
    /* Menggunakan 100% untuk memastikan gambar mengisi seluruh area kontainer */
    border-radius: 50%;
    border: 0.2rem solid #00abf0;
    /* Mengubah "solod" menjadi "solid" dan menyesuaikan properti border */
}

.span {
    color: #00abf0;
}

.about-content h3 {
    font-size: 30px;
    font-weight: 600;
    color: #00abf0;
    line-height: 1, 2;

}

.about-content p {
    max-width: 600px;
    font-size: 16px;
    margin: 10px 0 20px;
    color: #dedede;
}